@font-face {
  font-family: 'Source Sans Pro';
  src: font-url('./assets/webfonts/SourceSansPro-Regular.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: font-url('./assets/webfonts/SourceSansPro-Italic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: font-url('./assets/webfonts/SourceSansPro-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: font-url('./assets/webfonts/SourceSansPro-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: font-url('./assets/webfonts/SourceSansPro-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}
